* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 46);
}

.header {
    position: sticky;
    z-index: 99999;
    top: 0;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    justify-content: space-between;
    place-items: center;
    background-color: white;
    color: white;
    font-family: "Silka", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 20px;
    width: 100%;
   
}

.cr {
    top: 0;
    z-index: 99;
    display: grid;
    place-items: right;
    position: relative;
    background-color: rgb(16, 16, 46);
    padding: 10px;
    border-radius: 10px;
}

.header>a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.hero {
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(to top, rgba(16, 16, 64, 0.95)50%, rgba(16, 16, 64, 0.95)50%), url(images/wallet-fold-phone.png);
    height: 50vh;
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
   
}

.hero1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
   
    margin-top: 5px;
}

.hero h1 {
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
    font-family: "Silka", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
   
    
}

.hero2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
.hero2>h2 {
    display: grid;
    place-items: center;
    font-family: "Silka", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: grey;
    gap: 10px;
    text-align: center;
  
}



.sw {
    display: grid;
    place-items: center;
    align-items: center;
    margin: auto;
    font-family: "Silka", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 10px;
    margin-top: 10px 0;
    background-color: blue;
    border: 1px solid black;
    border-radius: 30px;
    max-width:70% ;
    
    
}

/* .second img {
    height: 300px;
    
} */

.third {
    margin: 10px;
    font-family: "Silka", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.third h2 {
    padding: 10px 0;
    font-family: "Silka", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: grey;
}
.hero2>a {
    color: inherit;
    text-decoration: none;
}



.second {
    display: grid;
    place-items: center;
    
}

.third {
    display: grid;
    place-items: center;
}


<<<<<<< HEAD
.container {
    display: grid;
    place-items: center;
    align-items: center;
    padding:0 10px;
    gap: 20px;
}

.container .fa {
    color:white;
    font-size: 4rem;
    padding: 10px 0;
}

.container h1 {
    font-family: "Silka", Sans-serif;
    font-size: 18px;
    font-weight: 600;
=======
.cards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
>>>>>>> e9c920fe6b265761238df32637e4fc575d2ea1c7
    color: white;
    text-align: center;
    gap: 50px;
    
    /* height: 50%; */
    /* border: 1px solid white; */
}
.cards1 {
    background-color: rgb(16, 16, 46);
    border: 1px solid white;
    padding: 20px 0;
    height:100% ;
    
    /* max-height: 550px; */
    /* border-radius: 10px; */

}
.cards1 .fa {
    font-size: 5rem;
}
#arr {
    font-size: 1rem !important;

}
.cards1 h1 {
    font-family:'Silika', sans-serif ;
        font-size:24px ;
        font-weight: 600;
        margin: 10px 0;
        color: grey;

}
.cards1 h2{
    font-family:'Silika', sans-serif ;
        font-size:16px ;
        font-weight: 400;
        margin-top: 10px 0;

}
.cards a {
    font-family:'Silika', sans-serif ;
    font-size:16px ;
    font-weight: 400;
<<<<<<< HEAD
    color: grey;
    word-spacing: 2px;
}

.container a {
    color: tomato;
=======
    background-color: white;
>>>>>>> e9c920fe6b265761238df32637e4fc575d2ea1c7
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px 0;
    /* position: relative; */
   
    color: black;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 10px 0;
    margin: 10px 0;

<<<<<<< HEAD
/* .cont {
    display: grid;
    grid-template-columns: 1fr;

} */

.cont11 {
    display: grid;
    place-items: left;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 20px 10px;
    border: 3px gray solid;
    background-color: black;
    /* border-radius: 20px; */
    box-shadow: 5px  rgba(79, 120, 58, 0.676);
    
=======
>>>>>>> e9c920fe6b265761238df32637e4fc575d2ea1c7
}

.five {
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-family: "Silka", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    text-align: center;
}

.five>h2 {
    font-size: 14px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;

}
.five h1 {
    font-size: 12px;
    font-weight: 600;
}

.five a {
    text-decoration: inherit;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    color: white;
    font-family: "Silka", Sans-serif;
    font-size: 8px;
    font-weight: 400;
    /* background-color: gray; */
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;

}
@media(max-width:425px){
    /* .hero {
        height: 60vh;
    } */
    .hero h1 {
        font-family:'Silika', sans-serif ;
        font-size:14px ;
        font-weight: 600;
        /* margin: 10px 0; */
        color: white;
    }
    .hero h2 {
        display: none;
    }
    .cards {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        color: white;
        text-align: center;
        gap: 50px;
        
        /* height: 50%; */
        /* border: 1px solid white; */
    }  
    
}

@media (max-width:700px) {
    /* .container {
        display: grid;
        grid-template-columns: 1fr;
    } */
    .cards1 {
        width: 100%;
        height: 100%;
    }
    .hero2>h2 {
        display: none;
    }

}

@media (min-width:768px) {
    .hero {
        display: grid;
        place-items: center;
        align-items: center;
        width: 100%;
    }
    .hero1 h1 {
        display: flex;
        justify-content: center;
        /* margin: 50px 0 20px 0; */
        /* word-spacing: 10px; */
        font-family: "Silka", Sans-serif;
        font-size: 30px;
        font-weight: 800;
        color: white;
        /* padding: 10px; */
    }

    .hero2>h2 {
        display: grid;
        place-items: center;
        font-family: "Silka", Sans-serif;
        font-size: 18px;
        font-weight: 800;
        color: grey;
        gap: 10px;
        text-align: center;
      
    }

    .second img {
        height: 600px;
    }
<<<<<<< HEAD
    .container {
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        padding: 0 50px;
    }
    .cont11 {
        /* padding: 50px 10px; */
        /* text-align: center; */
        width: 100%;
        height: 100%;
        
        
=======
    .cards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    color: white;
    text-align: center;
    gap: 50px;
>>>>>>> e9c920fe6b265761238df32637e4fc575d2ea1c7
    
    /* height: 50%; */
    /* border: 1px solid white; */
}
.cards1 {
    background-color: rgb(16, 16, 46);
    border: 1px solid white;
    padding: 20px 0;
    height:100% ;
    
    /* max-height: 550px; */
    /* border-radius: 10px; */

}
.cards1 .fa {
    font-size: 5rem;
}
#arr {
    font-size: 1rem !important;

}
.cards1 h1 {
    font-family:'Silika', sans-serif ;
        font-size:24px ;
        font-weight: 600;
        margin: 10px 0;
        color: grey;

}
.cards1 h2{
    font-family:'Silika', sans-serif ;
        font-size:16px ;
        font-weight: 400;
        margin-top: 10px 0;

}
.cards a {
    font-family:'Silika', sans-serif ;
    font-size:16px ;
    font-weight: 400;
    background-color: white;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px 0;
    /* position: relative; */
   
    color: black;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 10px 0;
    margin: 10px 0;

}
.sicons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    color: rgba(0, 0, 7, 0.9);
    font-family: "Silka", Sans-serif;
    font-size: 8px;
    font-weight: 400;
    /* background-color: gray; */
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;

}

/* @media(min-width:426px) {
    .cards {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        color: white;
        text-align: center;
        gap: 50px;
    }

} */





/* .cont11>h2 {
    text-align: center;
} */