* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 46);
}

.header {
    position: sticky;
    z-index: 99999;
    top: 0;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 5fr 5fr 2fr;
    justify-content: space-between;
    place-items: center;
    background-color: white;
    color: white;
    font-family: "Silka", Sans-serif;
    font-size: 8px;
    font-weight: 400;
    padding: 20px;
    width: 100%;
   
}

.cr {
    top: 0;
    z-index: 99;
    display: grid;
    place-items: right;
    position: relative;
    background-color: rgb(16, 16, 46);
    padding: 10px;
    border-radius: 10px;
}

.header>a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.hero {
    width: 100%;
    display: grid;
    place-items: center;
    /* padding: 20px;
    gap: 20px;
    flex-wrap: wrap; */
}

.hero1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
   
    margin-top: 10px;
}

.hero h1 {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
    font-family: "Silka", Sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: white;
}

.hero2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
.hero2>h2 {
    display: grid;
    place-items: center;
    font-family: "Silka", Sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: grey;
    gap: 10px;
    text-align: center;
  
}


/* .hero2>a {
    display: grid;
    place-items: center;
    color: white;
    text-decoration: none;
    background-color: blue;
    width: 80%;
    margin: 20px;
    border: 1px black solid;
    border-radius: 50px;
} */



 /* a .sw {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    margin: 50px 0;
    font-family: "Silka", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;

} */
.sw {
    display: grid;
    place-items: center;
    align-items: center;
    margin: auto;
    font-family: "Silka", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px;
    margin-top: 10px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 30px;
    max-width:70% ;
    
    
}

.second img {
    height: 400px;
}

.third {
    margin: 20px;
    font-family: "Silka", Sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.third h2 {
    padding: 20px 0;
    font-family: "Silka", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: grey;
}
.hero2>a {
    color: inherit;
    text-decoration: none;
}



.second {
    display: grid;
    place-items: center;
}

.third {
    display: grid;
    place-items: center;
}


.container {

    display: grid;
    place-items: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.container .fa {
    color: grey;
    font-size: 4rem;
    padding: 10px 0;
}

.container h1 {
    font-family: "Silka", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    word-spacing: 2px;
    padding: 10px 0;
}

.container h2 {
    font-family: "Silka", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: grey;
    word-spacing: 2px;
}

.container a {
    color: blue;
    text-decoration: none;
    font-family: "Silka", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* .cont {
    display: grid;
    grid-template-columns: 1fr;

} */

.cont11 {
    display: grid;
    place-items: left;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 50px 10px;
    border: 1px black solid;
    border-radius: 20px;
}

.five {
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-family: "Silka", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    gap: 20px;
    text-align: center;
}

.five>h2 {
    font-size: 14px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;

}
.five h1 {
    font-size: 12px;
    font-weight: 600;
}

.five a {
    text-decoration: inherit;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    color: white;
    font-family: "Silka", Sans-serif;
    font-size: 8px;
    font-weight: 400;
    /* background-color: gray; */
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;

}
@media (max-width:700px) {
    /* .container {
        display: grid;
        grid-template-columns: 1fr;
    } */
    .cont11 {
        width: 100%;
        height: 100%;
    }

}

@media (min-width:701px) {
    .hero {
        display: grid;
        place-items: center;
        align-items: center;
        width: 100%;
    }
    .hero1 h1 {
        display: flex;
        justify-content: center;
        /* margin: 50px 0 20px 0; */
        /* word-spacing: 10px; */
        font-family: "Silka", Sans-serif;
        font-size: 30px;
        font-weight: 800;
        color: white;
        /* padding: 10px; */
    }

    .hero2>h2 {
        display: grid;
        place-items: center;
        font-family: "Silka", Sans-serif;
        font-size: 18px;
        font-weight: 800;
        color: grey;
        gap: 10px;
        text-align: center;
      
    }
    /* .hero2>a {
        display: grid;
        place-items: center;
        align-items: center;
        color: white;
        text-decoration: none;
        background-color: blue;
        width: 50%;
        margin: 20px 0px 20px 500px;
        border: 1px black solid;
        border-radius: 50px;
    } */
    .second img {
        height: 600px;
    }
    .container {
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 0 50px;
    }
    .cont11 {
        /* padding: 50px 10px; */
        /* text-align: center; */
        width: 100%;
        height: 100%;
        
    
    }
    .third {
        margin: 20px;
        font-family: "Silka", Sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: white;
        text-align: center;
    }
    
    .third h2 {
        padding: 20px 0;
        font-family: "Silka", Sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: grey;
    }
    .five>h2 {
        font-size: 18px;
        background-color: aquamarine;
        border-radius: 10px;
        padding: 10px;
    
    }
    .five h1 {
        font-size: 24px;
        font-weight: 600;
    }
    
    .five a {
        text-decoration: inherit;
        color: white;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 50px 20px;
        color: white;
        font-family: "Silka", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        /* background-color: gray; */
        padding: 10px;
        border-radius: 20px;
        max-width: 100%;
    
    }



}






/* .cont11>h2 {
    text-align: center;
} */